.nofilter{
    filter: none !important;
}


.download-button-1, .download-button-2, .github-button{
    background: transparent;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    transition: background-color .3s,border-color .3s,color .3s;
}

.download-button-1{
    background: #2cc302;
    display: block;
    line-height: 1.4286;
    margin-right: 20px;
    padding: 8px 20px;
    border-radius: 9999px;
}

.download-button-1:hover{
    background-color: #259f02;
}

.download-button-2{
    height: 30px; 
    margin: 0 5px;
    min-width: 30px;
}

.github-button{
    background: #333;
    border: 1px solid #333;
    display: block;
    line-height: 1.4286;
    margin-right: 20px;
    padding: 8px 20px;
    border-radius: 9999px;
}


.tooltip-bottom {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip-bottom .tooltiptext-bottom {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-bottom .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-bottom:hover .tooltiptext-bottom {
    visibility: visible;
    opacity: 1;
}

.download-text{
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .download-text{
        margin-left: 5px;
        display: none;
    }
}


@media print {
    .p2hv .stopoverlappingourstyleplease {
        display: block
    }
}